<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>Pokedex</title>
</head>
<body>
    <header>
        <h1>Pokedex</h1>
    </header>

    <main>
        <section id="cards">
            <% pokedex.forEach((pokemon) => { %>
            <div class="card">
                <h4> <%= pokemon.numero %></h4>
                <img src="<%= pokemon.imagem %>" alt="pokemon">
                <h2><%= pokemon.nome %></h2>
                <p>Descrição: <%= pokemon.descricao %></p>
                <p id="tipo">Tipo: <%= pokemon.tipo %></p>
            </div>
        <% }) %>

        
        </section>
        <a href="/cadastro">Cadastre</a>
    </main>
    <footer>
        <h4>Pokedex by Iulia Mitch</h4>
        <a href=""></a>
    </footer>
    
</body>
</html>